A {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #800080; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #e3ebf8; FONT-SIZE: 12px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #f0f5fa; SCROLLBAR-SHADOW-COLOR: #3874c8; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; LINE-HEIGHT: 22px; SCROLLBAR-ARROW-COLOR: #3366cc; SCROLLBAR-TRACK-COLOR: #f1f3f9; FONT-FAMILY: "ו", sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
}
P {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
textfield {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
OPTION {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
INPUT.read {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #faf7f7
}
INPUT.readcenter {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #faf7f7; TEXT-ALIGN: center
}
INPUT.readleft {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #faf7f7; TEXT-ALIGN: left
}
INPUT.readright {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #faf7f7; TEXT-ALIGN: right
}
TD.titlebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TD.titleboldcenter {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #466abb; TEXT-ALIGN: center
}
TD.titleboldright {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcc00; TEXT-ALIGN: right
}
TD {
	FONT-SIZE: 12px; WORD-BREAK: break-all; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.bold {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.left {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.right {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
TD.center {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
FORM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
FONT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 0px
}
.left1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 0px
}
.tdline {
	LINE-HEIGHT: normal
}
.left {
	MARGIN-LEFT: 35px
}
.left10 {
	MARGIN-LEFT: 12px; LINE-HEIGHT: 30px
}
.buttonpop {
	BORDER-RIGHT: #0356b4 1px solid; BORDER-TOP: #0356b4 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../../images/system/bg/bg_button.jpg); BORDER-LEFT: #0356b4 1px solid; COLOR: #13318f; BORDER-BOTTOM: #0356b4 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bgcolor {
	FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cecece
}
.red {
	FONT-SIZE: 12px; COLOR: red
}
.gray {
	FONT-SIZE: 12px; COLOR: #999999
}
.foo {
	DISPLAY: block
}
.topwhite {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.navtitle {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; MARGIN-LEFT: 38px; TEXT-INDENT: 24px
}
.title_tr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #5f88c4
}
.title_tr2 {
	FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #95bcef; TEXT-ALIGN: center
}
.title_left {
	FONT-SIZE: 12px; TEXT-INDENT: 24px
}
.tablewhite {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #ffffff
}
.bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.green {
	FONT-WEIGHT: bold; COLOR: #339933
}
.tablegray {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #f0f0f0
}
.bluetrbg {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../../images/publish/BG/publish_line.gif); FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.titlelink:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.titlelink:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.titlelink:hover {
	COLOR: #94ffff; TEXT-DECORATION: none
}
A.titlelink:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.black:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.black:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.black:hover {
	COLOR: #800080; TEXT-DECORATION: none
}
A.black:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.redlink:link {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.redlink:visited {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.redlink:hover {
	FONT-WEIGHT: bold; COLOR: #800080; TEXT-DECORATION: none
}
A.redlink:active {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bulelink:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.bulelink:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.bulelink:hover {
	COLOR: #800080; TEXT-DECORATION: none
}
A.bulelink:active {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.input {
	BORDER-RIGHT: #333a70 1px solid; BORDER-TOP: #333a70 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333a70 1px solid; BORDER-BOTTOM: #333a70 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.li_none {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
.DoubleColorTable {
	
}
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}