/* CSS Document */
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6000;
	white-space: nowrap;
	font-weight: normal;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #000;
	text-decoration: none;
	line-height:200%;
	font-weight: normal;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #000;
	text-decoration: underline;
	line-height:200%;
	font-weight: normal;
}
.dtree a.nodeSel {
}
.dtree .clip {
	overflow: hidden;
}

